<a href="https://colab.research.google.com/github/GladwelWanjau/Data-Science/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2020_07_Gladwel_Wanjau_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importing all the data sets to my notebook
#Importing the Libraries to be udes
import pandas as pd
import numpy as np
data=pd.read_csv('Telcom_dataset.csv')#Importing the first file
print(data)
data1=pd.read_csv('Telcom_dataset2.csv')#Importing the second file
print(data1)
data2=pd.read_csv('Telcom_dataset3.csv')#Importing the third file
print(data2)
data3=pd.read_csv('cells_geo.csv')
print(data3)
data4=pd.read_excel('cells_geo_description.xlsx')#Importing the third File
print(data4)
data5=pd.read_excel('CDR_description.xlsx')# Imprting the fourth file
print(data5)

     PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]
     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[5001 rows x 10 columns]
     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[5001 rows x 10 columns]
     ;VILLES;STATUS;LOCALISATION;DECOUPZONE;ZONENAME;LONGITUDE;LATITUDE;REGION;AREA;CELL_ID;SITE_CODE
0     0;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
1     1;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
2     2;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
3     3;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
4     4;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
...                                                 ...
3969  3969;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3970  3970;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3971  3971;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3972  3972;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3973  3973;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...

[3974 rows x 1 columns]
     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String
       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [ ]:
#Merging the Telcom_dataset
import os
import glob
extension = 'csv'
all_csv_files = [i for i in glob.glob('*.{}'.format(extension))]
#combining all csv files in the list
melted_csv = pd.concat([pd.read_csv(f) for f in Telcom_dataset.csv ])
#exporting to csv
melted_csv.to_csv( "melted_csv.csv", index=False, encoding='utf-8-sig')

In [7]:
#Creating a Dataframe from a csv file
df=pd.read_csv('Telcom_dataset.csv',delimiter=',')#Importing the first file
df
df_1=pd.read_csv('Telcom_dataset2.csv',delimiter=',')#Importing the second file
df_1
df_2=pd.read_csv('Telcom_dataset3.csv',delimiter=',')#Importing the third file
df_2
df_3=pd.read_csv('cells_geo.csv',delimiter=',')#Importing the fourth file
df_3

     ;VILLES;STATUS;LOCALISATION;DECOUPZONE;ZONENAME;LONGITUDE;LATITUDE;REGION;AREA;CELL_ID;SITE_CODE
0     0;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
1     1;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
2     2;ADJAME;In Service;ABIDJAN;"""Abidjan_EST";AG...
3     3;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
4     4;ASSINIE;In Service;INTERIEUR;Grand-EST;"ASSI...
...                                                 ...
3969  3969;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3970  3970;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3971  3971;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3972  3972;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...
3973  3973;ZUENOULA;In Service;INTERIEUR;Grand-NORD;...

[3974 rows x 1 columns]

In [ ]:
#Descriptive Statistics
#For Day 1
df['VALUE'].sum()  #Summing the value of the column.
df['CELL_ON_SITE']
df['PRODUCT'].describe()  # Describing the attributes of the column
df['DATE_TIME'].describe()
df['CELL_ON_SITE'].count()
df['VALUE'].min()  #Finding the minimum value in the column
df['DATE_TIME'].min()
df['VALUE'].max()  #Finding the maximum value in the column
df['DATE_TIME'].max()
df['CELL_ON_SITE'].median() #Finding the Median
df['VALUE'].median()
df['VALUE'].var() # Finding the Variance
df['CELL_ON_SITE'].var()
df['VALUE'].std()  #Finding the Standard Deviation1
df['CELL_ON_SITE'].std()
df['VALUE'].skew() #Finding the skewness
df['DATE_TIME'].skew()
df['CELL_ON_SITE'].skew()
df['VALUE'].kurt()   #Finding the Kurtosis
df['DATE_TIME'].kurt()
df['CELL_ON_SITE'].kurt()
df.corr()
#For Day 2
df_1['VALUE'].sum()  #Summing the value of the column.
df_1['CELL_ON_SITE']
df_1['PRODUCT'].describe()  # Describing the attributes of the column
df_1['DATE_TIME'].describe()
df_1['CELL_ON_SITE'].count()
df_1['VALUE'].min()  #Finding the minimum value in the column
df_1['DATE_TIME'].min()
df_1['VALUE'].max()  #Finding the maximum value in the column
df_1['DATE_TIME'].max()
df_1['CELL_ON_SITE'].median() #Finding the Median
df_1['VALUE'].median()
df_1['VALUE'].var() # Finding the Variance
df_1['CELL_ON_SITE'].var()
df_1['VALUE'].std()  #Finding the Standard Deviation
df_1['CELL_ON_SITE'].std()
df_1['VALUE'].skew() #Finding the skewness
df_1['DATE_TIME'].skew()
df_1['CELL_ON_SITE'].skew()
df_1['VALUE'].kurt()   #Finding the Kurtosis
df_1['DATE_TIME'].kurt()
df_1['CELL_ON_SITE'].kurt()
df_1.corr()
#For Day 3
df_2['VALUE'].sum()  #Summing the value of the column.
df_2['CELL_ON_SITE']
df_2['PRODUCT'].describe()  # Describing the attributes of the column
df_2['DATE_TIME'].describe()
df_2['CELL_ON_SITE'].count()
df_2['VALUE'].min()  #Finding the minimum value in the column
df_2['DATE_TIME'].min()
df_2['VALUE'].max()  #Finding the maximum value in the column
df_2['DATE_TIME'].max()
df_2['CELL_ON_SITE'].median() #Finding the Median
df_2['VALUE'].median()
df_2['VALUE'].var() # Finding the Variance
df_2['CELL_ON_SITE'].var()
df_2['VALUE'].std()  #Finding the Standard Deviation
df_2['CELL_ON_SITE'].std()
df_2['VALUE'].skew() #Finding the skewness
df_2['DATE_TIME'].skew()
df_2['CELL_ON_SITE'].skew()
df_2['VALUE'].kurt()   #Finding the Kurtosis
df_2['DATE_TIME'].kurt()
df_2['CELL_ON_SITE'].kurt()
df_2.corr()

In [ ]:
#Data Preparation
#Merging Telcom_datasets with the Cells_geo data
import pandas as pd
df_4=df_3.merge(df_1, how='left', on='A')  # merges on column A of Telcom_dataset2
df_4
df_5=df_3.merge(df_2,how='left',on='A') # merges on column A of Telcom_dataset3
df_5
df_6=df_3.merge(df,how='left',on='A')# merges on column A of Telcom_dataset
df_6

In [ ]:
#Question 1 
#Finding out the most used city for the 3 days
# step 1: viewing the two columns for each dataframe i.e.
#For Day 2 
df_7=df_4[(df_4['VILLES'] ) & (df_4['VALUE'] > 0)]
#Sorting the two columns in an Ascending order to find out the most used cities
df_7.sort_values(by='VALUE', ascending=1)
#For Day 3
df_8=df_5[(df_5['VILLES'] ) & (df_5['VALUE'] > 0)]
#Sorting the two columns in an Ascending order to find out the mst used cities
df_8.sort_values(by='VALUE', ascending=1)
#For Day 1
df_9=df_6[(df_6['VILLES'] ) & (df_6['VALUE'] > 0)]
#Sorting the two columns in an Ascending order to find out the mst used cities
df_9.sort_values(by='VALUE', ascending=1)

In [ ]:
#Question2
#Finding out the most used cities for business hours and home hours
#viewing the two columns for each dataframe i.e.
#For Day 2
df_10=df_4.loc ['VILLES':'DATE_TIME']
#Sorting df_4
df_10.sort_values(by='VALUE','DATE_TIME')
#For Day 3
df_11=df_5.loc['VILLES':'DATE_TIME']
df_11.sort_values(by='VALUE','DATE_TIME')
#For Day 1
df_12=df_6.loc['VILLES':'DATE_TIME']
df_12.sort_values(by='VALUE','DATE_TIME')

In [ ]:
#Question 3
#Most used city for the 3 days
#Merging the Telcom_dataset for the 3 days
import os
import glob
extension = 'csv'
all_csv_files = [i for i in glob.glob('*.{}'.format(extension))]
#combining all csv files in the list
melted_csv = pd.concat([pd.read_csv(f) for f in Telcom_dataset.csv ])
#exporting to csv
melted_csv.to_csv( "melted_csv.csv", index=False, encoding='utf-8-sig')
#Alternatively
df_merge_col=pd.merge(df_row,df_1,on 'df_2')
df_merge_col
#Merging the above with the cells_geo data
df_13=df_3.merge(df_merge_col, how='left', on='A')  # merges on column A of Telcom_dataset
df_13
#Sorting the data to find the most used city
df_13.sort_values(by='VALUE', ascending=1)