<a href="https://colab.research.google.com/github/GladwelWanjau/Data-Science/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_07_Gladwel_Wanjau_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading the Dataset

In [8]:
#Importing libraries
# Importing the Pandas Library
import pandas as pd

# Importing the Numpy Library
import numpy as np

In [10]:
# First lets import our dataset 

# Let's set the location for our data
url = 'http://bit.ly/autolib_dataset'

# We then store this dataset in a dataframe
# We us the latin1 encoding because our dataset contains special characters in the Address column. 

autolib_dataset = pd.read_csv(url, encoding = "latin1")

# viewieng the columns of this dataframe, this will help us get familiar with the dataset before working on it
autolib_dataset.columns.values.tolist()

['Address',
 'Cars',
 'Bluecar counter',
 'Utilib counter',
 'Utilib 1.4 counter',
 'Charge Slots',
 'Charging Status',
 'City',
 'Displayed comment',
 'ID',
 'Kind',
 'Geo point',
 'Postal code',
 'Public name',
 'Rental status',
 'Scheduled at',
 'Slots',
 'Station type',
 'Status',
 'Subscription status',
 'year',
 'month',
 'day',
 'hour',
 'minute']

In [11]:
# loading the first 5 rows of our data and try to understand it more
# Additionally this helps with identifying any missing values and understanding the parameters
autolib_dataset.head()
#From the data there is missing data on the Displayed comment and Scheduled at columns

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
# loading the data with the default values
print(pd.read_csv(url, encoding = 'latin1').head())

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
# loading the data without default missing values we use the keep_default_na=False 
 
print(pd.read_csv(url, encoding = 'latin1', keep_default_na = False).head())

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
#Loading data without any other missing values
print(pd.read_csv(url, na_filter = True, encoding ='latin1').head())

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

# Data Cleaning

# 1. Accuracy

> Indented block



>

# 2. Completenes

In [ ]:
# Checking if there is any missing value in dataframe as a whole
autolib_dataset.isnull()

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Displayed comment       True
ID                     False
Kind                   False
Geo point              False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [ ]:
# Checking if there is any missing value across each column
autolib_dataset.isnull().any()

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Displayed comment       True
ID                     False
Kind                   False
Geo point              False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [ ]:
# Checking how many missing values there are across each column
autolib_dataset.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [ ]:
# checking if there are any missing values at all
print(autolib_dataset.isnull().values.any())

True

In [ ]:
# Getting the total count of missing values
print(autolib_dataset.isnull().sum().sum())

9842

In [ ]:
#subjects_df_mean = pd.DataFrame(subjects_df_mean,columns=['Subject','Score'])

# printing our dataframe
print(subjects_df_mean)

# imputing the mean 
subjects_df_mean['Score'] = subjects_df_mean['Score'].fillna((subjects_df_mean['Score'].mean()))

# printing out our updated dataframe
print(subjects_df_mean)

                                 ADDRESS  CARS  ...  HOUR  MINUTE
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3             51 Rue EugÃÂ¨ne OudinÃÂ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995               8 avenue MÃÂ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 23 columns]
                                 ADDRESS  CARS  ...  HOUR  MINUTE
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3             51 Rue EugÃÂ¨ne OudinÃÂ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995               8 avenue MÃÂ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
# Making sure that the missing values have been dropped
print(clean_autolib_dataset.isnull().sum())

Address                0
Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
Displayed comment      0
ID                     0
Kind                   0
Geo point              0
Postal code            0
Public name            0
Rental status          0
Scheduled at           0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

# 3. Consistency

In [ ]:
#  finding duplicates
autolib_dataset.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

# 4.Uniformity

In [ ]:
# Renaming the columns for consistency
autolib_dataset.rename(columns = {'ADDRESS': 'MINUTE'}, inplace = True)
autolib_dataset

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3             51 Rue EugÃÂ¨ne OudinÃÂ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995               8 avenue MÃÂ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
#Fixing column names for consistency
# We will use the .str method.
# we use the following functions strip(), upper() and replace() functions
# 
autolib_dataset.columns = autolib_dataset.columns.str.strip().str.upper().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
print(autolib_dataset)

                                 ADDRESS  CARS  ...  HOUR  MINUTE
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3             51 Rue EugÃÂ¨ne OudinÃÂ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995               8 avenue MÃÂ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
#Checking the data types
print(autolib_dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ADDRESS              5000 non-null   object
 1   CARS                 5000 non-null   int64
 2   BLUECAR_COUNTER      5000 non-null   int64
 3   UTILIB_COUNTER       5000 non-null   int64
 4   UTILIB_1.4_COUNTER   5000 non-null   int64
 5   CHARGE_SLOTS         5000 non-null   int64
 6   CHARGING_STATUS      5000 non-null   object
 7   CITY                 5000 non-null   object
 8   DISPLAYED_COMMENT    111 non-null    object
 9   ID                   5000 non-null   object
 10  KIND                 5000 non-null   object
 11  GEO_POINT            5000 non-null   object
 12  POSTAL_CODE          5000 non-null   int64
 13  PUBLIC_NAME          5000 non-null   object
 14  RENTAL_STATUS        5000 non-null   object
 15  SCHEDULED_AT         47 non-null     object
 16  SLOTS                5000 non-null   int64
 17  STATION_TYPE         5000 non-null   object
 18  STATUS               5000 non-null   object
 19  SUBSCRIPTION_STATUS  5000 non-null   object
 20  YEAR                 5000 non-null   int64
 21  MONTH                5000 non-null   int64
 22  DAY                  5000 non-null   int64
 23  HOUR                 5000 non-null   int64
 24  MINUTE               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB
None

# **Analysis**

In [ ]:
#Most popular hour for returning cars
autolib_dataset.groupby(["HOUR"]) .size()

HOUR
0     194
1     194
2     218
3     218
4     199
5     211
6     219
7     219
8     211
9     221
10    194
11    210
12    200
13    213
14    207
15    200
16    220
17    198
18    210
19    208
20    202
21    237
22    196
23    201
dtype: int64

In [ ]:
#Most popular station
#i) Overall
autolib_dataset.groupby(["ID"]) .size() 
# Alfortville-europe-22 is the most popular station with 7 counts.

ID
alfortville-blanqui-61              4
alfortville-charlesdegaulle-16      5
alfortville-etiennedolet-174        2
alfortville-europe-22               7
alfortville-jeanbaptistepreux-17    4
                                   ..
vincennes-fontenay-44               4
vincennes-mursduparc-2              5
yerres-charlesdegaulle-99           5
yerres-pierrebrossolette-92         5
yerres-raymondpoincare-200          1
Length: 1105, dtype: int64

In [ ]:
#Most popular station
#ii) At the most picking hour
#Step One
#Finding the most picking hour
highest_hour=autolib_dataset.groupby(["HOUR"]) .size() 
print(highest_hour)
#The most picking hour is the 21st hour with 237 counts.

HOUR
0     194
1     194
2     218
3     218
4     199
5     211
6     219
7     219
8     211
9     221
10    194
11    210
12    200
13    213
14    207
15    200
16    220
17    198
18    210
19    208
20    202
21    237
22    196
23    201
dtype: int64

In [ ]:
#Step 2
#Finding the most popular station in the above mentioned hour
autolib_dataset.groupby(['HOUR','ID']) .size()
#The most popular station is yerres -charles degaulle-99.

HOUR  ID
0     alfortville-charlesdegaulle-16       1
      alfortville-europe-22                1
      antony-velpeau-14                    1
      arcueil-paulbert-21                  1
      asnieressurseine-henripoincare-53    1
                                          ..
23    villejuif-augusteperret-11           1
      villejuif-eugenevarlin-11            1
      villejuif-paulvaillantcouturier-9    1
      villeneuvelagarenne-verdun-30        1
      yerres-charlesdegaulle-99            2
Length: 4612, dtype: int64

In [ ]:
#Most popular hour for returning cars
autolib_dataset.groupby(['STATUS','HOUR']) .size()

STATUS     HOUR
closed     0       14
           1       16
           2       13
           3       19
           4       13
                   ..
scheduled  19       3
           20       1
           21       1
           22       1
           23       1
Length: 71, dtype: int64

In [ ]:
#most popular postal code for picking up Blue Cars
autolib_dataset.groupby(['ADDRESS','BLUECAR_COUNTER']) .size()

In [ ]:
#Most popular hour of the day for picking up a shared electric
autolib_dataset.groupby(['HOUR','BLUECAR_COUNTER','CITY']) .size()

In [ ]:
autolib_dataset.BLUECAR_COUNTER.value_counts()

0    1447
3     672
1     663
4     636
2     628
5     574
6     341
7      39
Name: BLUECAR_COUNTER, dtype: int64

In [ ]:
autolib_dataset.groupby(autolib_dataset.HOUR)['BLUECAR_COUNTER','CITY'].describe()

In [ ]:
#Most popular hour with Utilib 1.4
autolib_dataset.groupby(['HOUR','UTILB_1.4_COUNTER','CITY']) .size()